//COLORS
:root {
--color-primary: #FFC368;
--color-primary-light: rgb(255, 207, 136);
--color-primary-dark: rgb(214, 153, 61); 

--color-secondary: #2D3047;
--color-secondary-a: rgba(45, 48, 71, 0.473);

--color-grey-light-1: #faf9f9;
--color-grey-light-2: #f4f2f2;
--color-grey-light-2a: #f4f2f28e;
--color-grey-light-3: #f0eeee;
--color-grey-light-3a: #f0eeee56;
--color-grey-light-4: #ccc;
    
--color-grey-dark-1: #333;
--color-grey-dark-2: #777;
--color-grey-dark-3: #999;

--shadow-dark: 0 2rem 6rem rgba(0,0,0,.5);
--shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
}


* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

.App {
  font-family: sans-serif;
  text-align: center;
} 